<ion-view>

	<ion-content class="has-header">

		<ion-refresher
		    pulling-text="Pull to refresh..."
		    on-refresh="doRefresh()">
		</ion-refresher>
	


		<ion-list class="has-header">



			  <div class="item item-avatar">
			    <img src="img/img3.jpg">
			    <h2>Pretty Hate Machine</h2>
			    <p>Nine Inch Nails</p>
			  </div>

			  <div class="item item-image">
			    <img src="img/img4.jpg">
			  </div>

			  <a class="item item-icon-left assertive" href="#">
			    <i class="icon ion-music-note"></i>
			    Start listening
			  </a>

			  <div class="item item-avatar">
			    <img src="img/img3.jpg">
			    <h2>Pretty Hate Machine</h2>
			    <p>Nine Inch Nails</p>
			  </div>

			  <div class="item item-image">
			    <img src="img/img4.jpg">
			  </div>

			  <a class="item item-icon-left assertive" href="#">
			    <i class="icon ion-music-note"></i>
			    Start listening
			  </a>

			  <div class="item item-avatar">
			    <img src="img/img3.jpg">
			    <h2>Pretty Hate Machine</h2>
			    <p>Nine Inch Nails</p>
			  </div>

			  <div class="item item-image">
			    <img src="img/img4.jpg">
			  </div>

			  <a class="item item-icon-left assertive" href="#">
			    <i class="icon ion-music-note"></i>
			    Start listening
			  </a>

			  <div class="item item-avatar">
			    <img src="img/img3.jpg">
			    <h2>Pretty Hate Machine</h2>
			    <p>Nine Inch Nails</p>
			  </div>

			  <div class="item item-image">
			    <img src="img/img4.jpg">
			  </div>

			  <a class="item item-icon-left assertive" href="#">
			    <i class="icon ion-music-note"></i>
			    Start listening
			  </a>


	    </ion-list>

		


		
	</ion-content>

</ion-view>
