<ion-view>

	<ion-content class="has-header">

		<ion-refresher
		    pulling-text="Pull to refresh..."
		    on-refresh="doRefresh()">
		</ion-refresher>

		
		<div class="bar item-input-inset bar-light">
			<label class="item-input-wrapper">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="search" placeholder="search">
			</label>
			<button class="button button-small">Go!</button>
	    </div>


		<div id="homeList" class="list">

		    <a class="item item-avatar" href="#">
		      <img src="img/img3.jpg">
		      <h2>Venkman</h2>
		      <p>Back off, man. I'm a scientist. I'm a scientist</p>
		    </a>

		    <a class="item item-avatar" href="#">
		      <img src="img/img4.jpg">
		      <h2>Venkman</h2>
		      <p>Back off, man. I'm a scientist. I'm a scientist</p>
		    </a>

		    <a class="item item-avatar" href="#">
		      <img src="img/img3.jpg">
		      <h2>Venkman</h2>
		      <p>Back off, man. I'm a scientist. I'm a scientist</p>
		    </a>

		    <a class="item item-avatar" href="#">
		      <img src="img/img4.jpg">
		      <h2>Venkman</h2>
		      <p>Back off, man. I'm a scientist. I'm a scientist</p>
		    </a>

		    <a class="item item-avatar" href="#">
		      <img src="img/img3.jpg">
		      <h2>Venkman</h2>
		      <p>Back off, man. I'm a scientist. I'm a scientist</p>
		    </a>

		    <a class="item item-avatar" href="#">
		      <img src="img/img4.jpg">
		      <h2>Venkman</h2>
		      <p>Back off, man. I'm a scientist. I'm a scientist</p>
		    </a>

		    <a class="item item-avatar" href="#">
		      <img src="img/img3.jpg">
		      <h2>Venkman</h2>
		      <p>Back off, man. I'm a scientist. I'm a scientist</p>
		    </a>

		    <a class="item item-avatar" href="#">
		      <img src="img/img4.jpg">
		      <h2>Venkman</h2>
		      <p>Back off, man. I'm a scientist. I'm a scientist</p>
		    </a>


		</div>
		


	</ion-content>

</ion-view>
